annotated-doc==0.0.4
click==8.3.1
iniconfig==2.3.0
joblib==1.5.3
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.4.3
nvidia-nccl-cu12==2.29.7
packaging==26.0
pandas==3.0.1
pefile==2024.8.26
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
rich==14.3.3
scikit-learn==1.8.0
scipy==1.17.1
shellingham==1.5.4
six==1.17.0
threadpoolctl==3.6.0
typer==0.24.1
volatility3==2.27.0
xgboost==3.2.0
